@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Titillium+Web:ital,wght@1,600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 .container-grid{
    width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items:center;
    
}
header{
    background-color: #020b25;
    height: 100px;
    }
    img {
        width: 355px;
    }
    .menu{
        width: 400px;
        display: flex;
        justify-content: space-between;
        margin-left: 80px;
    }
    .menu a{
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-family: "Open Sans";
        font-size: 20px;
    }
    .barras{
        width: 30px;
        display: none;
    }
    .banner{
        background-image:url(../img/banner.png) ;
        height: 420px;
        background-repeat: none;
        background-size: cover;
        
    }
    .posicao-texto{
        justify-content: flex-end;
    }
    .texto-banner h1{
        width: 500px;
        color: #fff;
        text-align: flex;
        font-size: 50px;
        font-family: 'Titillium Web', sans-serif;
        font-weight: bold;
    }
    .texto-banner{
        width: 500px;
        color: #fff;
        text-align: flex;
        font-size: 45px;
        font-family: 'Titillium Web', sans-serif;
        font-weight: bold;
    }
    .search-box{
        background: #fff;
        height: 42px;
        padding: 15px;
        border-radius: 40px;
        margin-left: 100px;
    }
    .search-text{
        background: none;
        border: 0;
        outline: 0;
        font-size: 20px;
    }
    .produtos{
        background-color: #020b25;
    }
    .release{
        height: 35px;
        background-color: #515253;
    }
    .release h2{
        color: #fff;
        font-family: "Open Sans";
        font-size: 30px;
        text-align: center;
    }
    
    a{
        text-decoration: none;
    
    }

    .slider{
        margin: 25px;
        width: 20%;
        background-color: rgb(151, 148, 148);
        border-radius: 50px;
        overflow: hidden;
    }
    .image{
        position: relative;
    }
    .image img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        box-sizing: border-box;
    }
    .product-details{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 50px;
        box-sizing: border-box;

    }
    .product-name{
         display: flex;
         flex-direction: column;

     }  
    .product-name a{
        margin-top: 5px;
         color: #fff;
         font-size: 15px;
         font-weight: bolder;
     } 
     span{
         color: black;
         margin-top: 5px;
     }
    .product-name a{
         font-size: 16px;
         font-weight: bold;
         color: #fff;
         margin-top: 5px;
         text-align: center;
     }
    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0,0,0, 0.6);
    }
    .btn{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
        height: 50px;
        width: 150px;
        background-color: rgb(71, 9, 218);
        color:#fff;
        font-size: 20px;
        font-weight: bolder;

    }
    .btn:hover{
        background-color: #fff;
        color: rgb(71, 9, 218);
        transition: all ease 1s;

    }
    .button{
        visibility: hidden;
    }
    .image:hover .button{
        visibility: visible;
        animation: animation 1s;

    }
    @keyframes animation{
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
  
    .container{
        display: flex;
        justify-content: left;
        height: 520px;
        width: 1200px;
        background-color: #020b25;
        transform: translateX(0);
        transition: all 0.5s ease-in-out;
    }
    .laptops{
        height: 35px;
        background-color: #515253;
    }
    .laptops h2{
        color: #fff;
        font-family: "Open Sans";
        font-size: 30px;
        text-align: center;
    }
    .games{
        height: 35px;
        background-color: #515253;
    }
    .games h2{
        color: #fff;
        font-family: "Open Sans";
        font-size: 30px;
        text-align: center;
    }
    .cellphones{
        height: 35px;
        background-color: #515253;
    }
    .cellphones h2{
        color: #fff;
        font-family: "Open Sans";
        font-size: 30px;
        text-align: center;   
    }
    footer{
        margin-top: 1px;
        background-color: #020b25;
        height: 180px;
        width: 1349px;
        font-family: "Open Sans";
        padding-top: 40px;
        color:#fff;
       
    }
    .footer-content{
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;

    }
    .footer-content h5{
        font-size: 40px;
        font-weight: 400;
        text-transform: capitalize;
        line-height: 3rem;
    }
    .footer-content p{
        max-width: 500px;
        margin: 10px auto;
        line-height: 25px;
        font-size: 20px;
    }
    .socials{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 30px;
        
    }
    .socials li{
        margin: 0 10px;

    }   
    .socials a{
        text-decoration: none;
        color:#fff;

    }  
    .socials a i{
        font-size: 1.1rem;
        transition:color .4s ease;

    }
    .socials a:hover i{
        color: aqua;

    }
    .footer-bottom{
        background: rgb(116, 115, 119);
        height: 45px;
        width: 1349px;
        padding: 20px 0;
        text-align: center;

    }
    .footer-bottom p{
        font-size: 14px;
        word-spacing: 2px;
        text-transform: capitalize;

    }
    .footer-bottom span{
        text-transform: uppercase;
        opacity: ;
        color: #fff;
        font-weight: 200;

    }
    @media screen and (max-width: 1200px) {
        header{
       
            height: 80px;
            }
        header img{
            width: 250px;
            margin-left: 20px;
        }
        .menu{
        width: 300px;
        display: flex;
        justify-content: space-between;
        margin-right: 370px;
        }
        .menu a{
            font-size: 15px;

        }
        .search-box{
            display:none ;
            
        }
        .search-text{
            display: none;
        }
        .banner{
            height: 300px;
        }
        .posicao-texto{
            justify-content: flex-end;
        }
        .texto-banner h1{
            font-size: 40px;
            margin-left: 15px;
        }
        .texto-banner{
            font-size: 40px;
            margin-left: 15px;
        }
        .container{
            display: flex;
            justify-content: left;
            height: 480px;
            width: 1200px;
        }
        footer{
            width: 794px;   
        }
        .footer-bottom{
            width: 794px;  
        }
    }      
    @media screen and (max-width: 768px){
        header{
            height: 70px;
        }
        header img{
            width: 200px;
            margin-left: 20px;
        }
        .menu{
        display: flex;
        justify-content: space-between;
        margin-right:720px;
        display:none;
        }
        .menu a{
            font-size: 10px;
            display:none;
        }
        .search-box{
            display:none;
        }
        .search-text{
            display: none;
        }
        .barras{
            display:inline-block;
            margin-right: 750px;
            font-size: 50px;
        }
        .banner{
            height: 200px;
            
        }
        .posicao-texto{
            justify-content: flex-end;
        }
        .texto-banner h1{
            
            font-size: 30px;
            margin-left: 15px;
        }
        .texto-banner{
        
            font-size: 30px;
            margin-left: 15px;
        }
        .container{
            display: flex;
            justify-content: left;
            height: 380px;
            width: 100%;
        }
        .product-name{
            display: flex;
            flex-direction: column;
        }  
       .product-name a{
            font-size: 10px; 
        } 
       .product-name a{
            font-size: 10px; 
        }
        .footer-content h5{
            font-size: 35px;
            
        }
        footer{
            width: 514px;
            height: 200px;
        }
        .footer-bottom{
            width: 514px;  
        }
    }
    